<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            font-size: 20px;
            background-color: antiquewhite;
        }
        .navbar {
            background-color: #000000;
            display: flex;
            justify-content: flex-end; /* Alinear elementos a la derecha */
            align-items: center; /* Centrar verticalmente */
            padding: 20px;
        }
        .navbar a {
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.3s; /* Efecto suave al pasar el mouse */
        }
        .navbar a:hover {
            background-color: #275864;
            color: rgb(255, 255, 255);
        }
    </style>
    
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 50vh; /* Altura de la ventana */
    
    }
    .container {
        display: flex;
        align-items: center; /* Centra verticalmente el contenido */

        padding: 20px;
    
    }
    .container img {
        width: 700px; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantiene la proporción */
        margin-right: 50px; /* Espacio entre la imagen y el texto */
        
    }
    .text {
        flex: 1; /* Permite que el texto ocupe el espacio restante */
    }

    .text h2 {
        font-size: 70px; /* Tamaño del título */
        margin: 0; /* Eliminar margen por defecto */
        color: #ffffff;
    }
    .text p {
        font-size: 23px; /* Tamaño del texto */
        color: #ffffff; /* Color del texto */
    }

    body{
        background-color: #07404e;
    }
</style>


    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 50vh; /* Altura de la ventana */
        background-color: #f0f0f0; /* Color de fondo */

    }
    .container {
        display: flex;
        align-items: center; /* Centra verticalmente el contenido */
        background: rgb(58, 58, 58); /* Fondo del contenedor */
        padding: 20px;
    
    }
    .container img {
        width: 500px; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantiene la proporción */
        margin-right: 50px; /* Espacio entre la imagen y el texto */
    }
    .text {
        flex: 1; /* Permite que el texto ocupe el espacio restante */
    }

    .text h2 {
        font-size: 60px; /* Tamaño del título */
        margin: 0; /* Eliminar margen por defecto */
        color: #f9f9f9;
    }
    .text p {
        font-size: 23px; /* Tamaño del texto */
        color: #ffffff; /* Color del texto */
    }

</style>
    